[submodule "bubble-sort/snowhouse"]
	path = bubble-sort/snowhouse
	url = https://github.com/banditcpp/snowhouse
	branch = headers-only
[submodule "permutations-all/snowhouse"]
	path = permutations-all/snowhouse
	url = https://github.com/banditcpp/snowhouse
	branch = headers-only
[submodule "prime-numbers/snowhouse"]
	path = prime-numbers/snowhouse
	url = https://github.com/banditcpp/snowhouse
	branch = headers-only
[submodule "number-partitions/snowhouse"]
	path = number-partitions/snowhouse
	url = https://github.com/banditcpp/snowhouse
	branch = headers-only
[submodule "number-decompose/snowhouse"]
	path = number-decompose/snowhouse
	url = https://github.com/banditcpp/snowhouse
	branch = headers-only
